<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to GredLink!</title>
    <link rel="stylesheet" href="../static/bootstrap-5.3.5-dist/css/bootstrap.min.css">
    <script src="../static/bootstrap-5.3.5-dist/js/bootstrap.bundle.js"></script>
</head>
<body>
<div style="margin-top: 100px">
    <div><img src="../static/img/fof_3dot.jpg" style="margin-left:40px;margin-top:40px;width:100px; height:30px; float:left" alt=""></div>
    <div><img src="../static/img/fof_bus.jpg" style="margin-left:20px;width:70px; height:70px; float:left" alt=""></div>
    <div><img src="../static/img/fof_angry.jpg" style="margin-left:20px;width:70px; height:70px; float:left" alt=""></div>
    <div style="clear:both"></div>
    <div style="position: relative">
        <div><img src="../static/img/fof_xx.jpg" style="position: absolute; width:400px; height:300px;" alt=""></div>
        <div><img src="../static/img/fof.jpg" style="position: absolute;  width:400px; height:300px;" alt=""></div>
    </div>

    <div style="clear:both"></div>
    <div><img src="../static/img/fof_s_2.jpg" style="margin-top:300px;margin-left:40px;width:70px; height:70px; float:left;" alt=""></div>
    <div><img src="../static/img/fof_s_1.jpg" style="margin-top:300px;margin-left:200px;width:70px; height:70px; float:left;" alt=""></div>
    <div><img src="../static/img/fof_badge.jpg" style="margin-left:100px;width: 70px;height: 70px" alt=""></div>

</div>




</body>
</html>