<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>채팅</title>
    <link rel="stylesheet" href="../static/bootstrap-5.3.5-dist/css/bootstrap.min.css">
    <script src="../static/bootstrap-5.3.5-dist/js/bootstrap.bundle.js"></script>
</head>
<body>
<div style="width: 100%; height: 80px;">
                <div style="margin-top:30px; float:left"><a href="message.html" style="text-decoration: none; color:black"><h1><</h1></a> </div>
                <div style="margin-top:30px; height:30px;width:35%;float:left"> </div>
                <div style="margin-top:30px; float:left"><h1>박성빈</h1></div>
 </div>

 <hr style="border: 2px solid pink">
 <div class="card" style="margin-top: 80px">
            <div class="card-body">
                <h4 class="card-title">mom's punch</h4>
                <p class="card-text">mom's punch의 햄보거 엄청 맛있습니다.</p>
                <a href="search_detail.html" class="card-link">첫번째 링크</a>
            </div>
 </div>
<div>
    <div style="margin-left:20px;margin-top:20px;width: 30px;height: 30px;background-color: pink;float: left"></div>
    <div style="margin-left:20px;margin-top:10px;float:left;width: 350px;height: 60px; border: 1px solid black;"><p>hello moto!</p></div>
</div>

<div style="background-color: pink;height: 70px;" class="fixed-bottom">
    <input type="text" style="margin-top:10px;margin-left:20px;width: 70%; height: 50px;"><button style="margin-top:10px;margin-left:20px;width: 20%; height: 40px;">sent</button>
</div>

</body>
</html>