<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to GredLink!</title>
    <link rel="stylesheet" href="../static/bootstrap-5.3.5-dist/css/bootstrap.min.css">
    <script src="../static/bootstrap-5.3.5-dist/js/bootstrap.bundle.js"></script>
    <style>
        body{
            background-color: #FFDDEC;
        }
    </style>
</head>
<body> 
    <div class="vh-100 d-flex justify-content-center align-items-center">
         <!--main image-->
         <img src="../static/img/index_logo.png" style="width: 80%" class="img-fluid w-60 mb-8">
         <div class="text-center mb-2"> <!-- 添加mb-2控制间距 --></div>
         <!-- bottom right -->
         <div class="d-flex justify-content-end mt-2">
             <a href="./login.html">
               <img src="../static/img/index_center_next.png" style="width:8%" class="position-absolute">
             </a>
         </div>
     </div>
</body>
</html>


