<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="1;url={{ url_for('main.home')}}">
    <title>Welcome to GredLink!</title>
    <link rel="stylesheet" href="{{url_for('static',filename='bootstrap-5.3.5-dist/css/bootstrap.min.css')}}">
    <script src="{{url_for('static',filename='bootstrap-5.3.5-dist/js/bootstrap.bundle.js')}}"></script>
    <style>
        body{
            background-color: #FFDDEC;
        }
    </style>
</head>
<body> 
    <div class="vh-100 d-flex justify-content-center align-items-center">
         <!--main image-->
         <img src="{{url_for('static',filename='img/index_logo.png')}}" style="width: 80%" class="img-fluid w-60 mb-8">
         <div class="text-center mb-2"> </div>
         <!-- bottom right -->
         <div class="d-flex justify-content-end mt-2">

               <img src="{{url_for('static',filename='img/index_center_next.png')}}" style="width:8%" class="position-absolute">
         </div>
     </div>
</body>
</html>


