<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인!</title>
    <link rel="stylesheet" href="../static/bootstrap-5.3.5-dist/css/bootstrap.min.css">
    <script src="../static/bootstrap-5.3.5-dist/js/bootstrap.bundle.js"></script>
</head>
<body>
    <div>
        <p><h1>로그인</h1></p>
        <a href="">개인회원</a>|
        <a href="">기업회원</a>
        <form action="">
            <input type="text" value="ID"/><br/>
            <input type="text" value="비밀번호"/><br/>
            <input type="button" value="로그인"/><br/>
            <input type="checkbox"><p>로그인 유지</p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        </form>
        <a href="">아이디 찾기 </a>|<a href=""> 비밀번호 찾기</a>
        <a href="home.html">暂时跳过</a>



    </div>

</body>
</html>