<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>뉴스상세내용</title>
    <link rel="stylesheet" href="../static/bootstrap-5.3.5-dist/css/bootstrap.min.css">
    <script src="../static/bootstrap-5.3.5-dist/js/bootstrap.bundle.js"></script>
</head>
<body>
<!--윗 네비-->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
    <ul class="navbar-nav justify-content-center">
        <li class="nav-item">
            <a href="home.html" class="nav-link">< back </a>
        </li>

    </ul>
</nav>
<div class="container-fluid" style="margin-top:80px">
       <h2>AI 분야 인재 수요 폭발 ...스타트업, 신입 개발자에게 연봉 1억 제시</h2>
    <hr/>
    <div>
        <div style="width: 50px; height: 50px; background-color: pink; float:left;"></div>
        <div style="width: 5px; height: 50px; float:left;"></div>
        <div style="height: 40px; float:left;">
            <p>이지은<br/>2025년 05월 02일 20:19</p>
        </div>
        <div style="width: 5px; height: 50px; float:left;"></div>
        <div style="width: 50px; height: 50px; background-color: pink; float:right;">no like</div>
        <div style="width: 5px; height: 50px; float:right;"></div>
        <div style="width: 50px; height: 50px; background-color: pink; float:right;">like</div>
        <div style="width: 5px; height: 50px; float:right;"></div>
        <div style="width: 50px; height: 50px; background-color: pink; float:right;">script</div>
        <div style="clear: both"></div>
    </div>
    <hr/>
    <div>
        <p>최근 인공지능 기술의 급속한 발전으로 인해 한국의 다양한 AI 스타트업들이 개발자 채용에 열을 올리고 있다. 특히 신입 졸업생들에게도 파격적인 연봉 조건을 제시하며 인재 확보에 나서고 있는 상황이다. 일부 기업은 연 1억 원 이상의 연봉을 제안했으며, 이는 업계 평균보다 훨씬 높은 수준이다.</p>
        <img src="../static/img/demo1.jpg" class="img-fluid" alt="">
        <p>기업 관계자에 따르면 “기술 역량뿐 아니라 문제 해결 능력, 협업 태도, 학습 잠재력까지 종합적으로 평가하는 새로운 인재 기준이 생기고 있다”고 전했다. 이에 따라, 대학 졸업생이나 경력 초기 단계의 개발자들 사이에서도 실무 프로젝트 경험과 AI 관련 포트폴리오의 중요성이 날로 커지고 있다. 이러한 흐름은 앞으로도 지속될 것으로 예상되며, AI 분야에 도전하려는 젊은 세대에게는 새로운 기회의 창이 열리고 있다.</p>
    </div>


</div>




</div>
</body>
</html>