<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>검색</title>
    <link rel="stylesheet" href="../static/bootstrap-5.3.5-dist/css/bootstrap.min.css">
    <script src="../static/bootstrap-5.3.5-dist/js/bootstrap.bundle.js"></script>
</head>
<body>
        <div class="container">
            <div style="width: 100%; height: 80px;">
                <div style="margin-top:30px; float:left"><a href="search.html" style="text-decoration: none; color:black"><h1><</h1></a> </div>
                <div style="margin-top:30px; height:30px;width:25%;float:left"> </div>
                <div style="margin-top:30px; height:35px;width:35px;background-color: pink; float:left"> </div>
                <div style="margin-top:30px; float:left"><h1>Mom's punch</h1></div>
                <div style="margin-top:30px; height:35px;width:35px;background-color: pink; margin-right: 10px; float:right"> </div>

            </div>
             <div style="clear: both"></div>
            <hr style="border:2px solid pink">
            <h2>모집단위</h2>
            <div style="width: 100%; height: 400px; border: 2px solid pink; background-color:#D9D9D9">
                <table>
                    <tr>
                        <td>근무기간</td>
                        <td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td>
                        <td>6년이상</td>
                    </tr>
                     <tr>
                        <td>근무요일</td>
                         <td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td>
                        <td>요일협의</td>
                    </tr>
                     <tr>
                        <td>근무시간</td>
                         <td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td>
                        <td>시간협의</td>
                    </tr>
                    <tr>
                        <td>고용형태</td>
                        <td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td>
                        <td>인턴</td>
                    </tr>
                    <tr>
                        <td>복리후생</td>
                        <td>&nbsp&nbsp&nbsp&nbsp</td>
                        <td>중식제공,교육비지원,전환가능성있 <br>음,주차지원,지유복장,알고리즘스터<br>디제공</td>
                    </tr>
                </table>
            </div>
            <h2>기업정보</h2>
            <div style="width: 100%; height: 300px; border: 2px solid pink; background-color:#D9D9D9">
                    <table>
                    <tr>
                        <td>회사명:</td>
                        <td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td>
                        <td>Mom's punch</td>
                    </tr>
                     <tr>
                        <td>업종:</td>
                         <td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td>
                        <td>IT/알고리즘 플랫폼 개발</td>
                    </tr>
                    <tr>
                        <td>설립연도:</td>
                        <td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td>
                        <td>2017년</td>
                    </tr>
                    <tr>
                        <td>사원수:</td>
                        <td>&nbsp&nbsp&nbsp&nbsp</td>
                        <td>22명</td>
                    </tr>
                        <tr>
                        <td>주소:</td>
                        <td>&nbsp&nbsp&nbsp&nbsp</td>
                        <td>서울특별시 마이구 백범로 102</td>
                    </tr>
                        <tr>
                        <td>대표자명:</td>
                        <td>&nbsp&nbsp&nbsp&nbsp</td>
                        <td>이수연</td>
                    </tr>
                </table>
            </div>

            <hr style="border:2px solid pink">
            <button type="button" style="width: 100%; height: 50px; background-color: #F2FD5C; border: 2px solid pink;">지원하기</button>


        </div>






</body>
</html>