<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>검색</title>
    <link rel="stylesheet" href="../static/bootstrap-5.3.5-dist/css/bootstrap.min.css">
    <script src="../static/bootstrap-5.3.5-dist/js/bootstrap.bundle.js"></script>
</head>
<body>
 <div class="container">
            <div style="width: 100%; height: 80px;">
                <div style="margin-top:30px; float:left"><a href="search.html" style="text-decoration: none; color:black"><h1><</h1></a> </div>
                <div style="margin-top:30px; height:30px;width:25%;float:left"> </div>
                <div style="margin-top:30px; height:35px;width:35px;background-color: pink; float:left"> </div>
                <div style="margin-top:30px; float:left"><h1>Mom's punch</h1></div>
                <div style="margin-top:30px; height:35px;width:35px;background-color: pink; margin-right: 10px; float:right"> </div>

            </div>
              <div style="clear: both"></div>
              <hr style="border:2px solid pink">


 </div>


</body>
</html>